// .home {
//     //flex-grow: 1;
//     height: 100vh;
//     background-color: #f0f2f5;
//     border-top:solid #1a77f2 2px;
// }

.pointer {
    background-color: #f0f2f5;
    min-height: 100vh;
    flex-direction: column;
    //display: flex;
    justify-content: center;
    align-items: center;

    h1 {    
        padding: 20px;
        background-color: #1a77f2; 
        color: white; 
        width: 100%;
        text-align: center;
    }

    .counter {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            padding: 20px;
            border: solid 3px #ffffff;
            box-shadow: 0 3px 5px rgba(0,0,0,0.22);
            background-color: white;
        }

        .buttons {
            margin: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px; /* ボタン間の間隔 */
        }

        button {
            padding: 10px;
            background-color: #1a77f2;
            color: white;
        }
    }
}